page-user {

}

.nothing-yet {
  text-align: center;
  font-size: 24px;
  color: #999999;
}

.list-title{
  text-align: center;
}

.login-title {
  text-align: center;
  padding: 20px;
}

.user-card {
  margin: 0 auto;
  height: 60%;
  width: 65%;
}

.logout-btn {
  margin: 0 auto
}

.refresh {
  font-size: 14px;
  text-align: center;
  color: #aaaaaa;
}
